extends ./layout/index.pug
block compartircontenido 
    main.container.mt-5 
        h1.text-center.mt-5 #{pagina}
        .row 
            .col-md-12 
                h2.d-block.w-100.text-center Agregar Habitación 
                if (errores)
                    each error in errores
                        .alert.col.alert-danger.text-center=error.mensaje
            .row.justify-content-center.col 
                .col-md-8 
                    form(action="/habitaciones" method="POST")
                        .form-group
                            label(for="nombre") Nombre
                            input#Nombre(type ="text", placeholder ="Introduce el nombre",name ="nombre", class ="form-control", value = nombre)
                        .form-group
                            label(for="piso") Piso
                            input#piso(type ="text", placeholder ="Introduce el piso",name ="piso", class ="form-control", value = piso)
                        .form-group
                            label(for="refrigerador") Refrigerador
                                select(name = "refrigerador", class ="form-control")
                                    option(selected disabled='')  Selecciona una opcion 
                                    option(value="true") Si 
                                    option(value="false") No 
                            input#id_htl(type ="hidden",name ="id_htl", class ="form-control", value = `${id}`)
                        input.btn.btn-success.btn-block(type="submit")