header
    <!--div(class="navegacion") -->
    <!--div.navegacion-->
    .navegacion 
        .row.justify-content-start.col
            .nav
                a(href="/")
                    img(src="img/logo.png",with=100,height=100)
                    | Hoteles Zacatlán Puebla
            .row.justify-content-end.col
                ul.nav.capa1
                    li
                        a Hotel
                        ul
                            li
                                a(href='/listaHoteles') Lista
                            li
                                a(href='/crearHotel') Registrar
                    li
                        a Gerente
                        ul
                            li
                                a(href='/listaGerentes') Lista
                            li
                                a(href='/gerentes') Registrar
                    li
                        a Habitación
                        ul
                            li
                                a(href='/listaHabitaciones') Lista
                            li
                                a(href='/habitaciones') Registrar
                    li
                        a(href="/cerrarSesion") Cerrar Sesión
                    